<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find rc_visard_driver)/urdf/rc_visard65.gazebo.xacro" />
    <xacro:include filename="$(find rc_visard_driver)/urdf/rc_visard65_properties.urdf.xacro" />

    <!-- rc_visard65 mount assembly -->
    <xacro:macro name="rc_visard65" params="name parent *origin camera_type camera_rate simulated">
        <joint name="${name}_joint" type="fixed">
            <xacro:insert_block name="origin" />
            <parent link="${parent}"/>
            <child link="${name}_link"/>
        </joint>
        <link name="${name}_link">
            <inertial>
                <mass value="0.1"/>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia ixx="0.01"  ixy="0.0"  ixz="0.0"
                    iyy="0.01"  iyz="0.0"
                    izz="0.01" />
            </inertial>
            <visual>
                <origin xyz="-0.023 0.0325 0.0375" rpy="-${PI/2} 0 0"/>
                <geometry>
                    <mesh filename="package://rc_visard_driver/meshes/rc_visard65.stl" scale="0.001 0.001 0.001" />
                </geometry>
                <material name="darkgray">
                    <color rgba="0.3 0.3 0.3 1"/>
                </material>
            </visual>
            <collision>
                <origin xyz="0 -0.01 0.04" rpy="0 0 0"/>
                <geometry>
                    <box size="0.14 0.15 0.08"/>
                </geometry>
            </collision>
        </link>

        <!-- rc_visard65 stereo sensor physical attachment -->
        <joint name="${name}_stereo_joint" type="fixed">
            <origin xyz="-0.0325 0.0325 0.0375" rpy="0 0 ${PI/2}"/>
            <parent link="${name}_link"/>
            <child link="${name}_stereo_link"/>
        </joint>
        <link name="${name}_stereo_link">
            <inertial>
                <mass value="0.1" />
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia ixx="0.01"  ixy="0.0"  ixz="0.0"
                    iyy="0.01"  iyz="0.0"
                    izz="0.01" />
            </inertial>
            <visual>
                <origin xyz="0.0 0.0 0" rpy="0 0 0"/>
                <geometry>
                    <sphere radius="0.0005"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0.0 0.0 0" rpy="0 0 0"/>
                <geometry>
                    <sphere radius="0.0005"/>
                </geometry>
            </collision>
        </link>
        <!-- rc_visard65 stereo sensor frame -->
        <joint name="${name}_stereo_optical_frame_joint" type="fixed">
            <origin xyz="0 0 0" rpy="${-PI/2} 0 ${-PI/2}" />
            <parent link="${name}_stereo_link"/>
            <child link="${name}_stereo_optical_frame"/>
        </joint>

        <link name="${name}_stereo_optical_frame"/>

        <joint name="${name}_stereo_right_frame_joint" type="fixed">
            <origin xyz="0.065 0 0" rpy="0 0 0" />
            <parent link="${name}_stereo_optical_frame"/>
            <child link="${name}_stereo_right_optical_frame"/>
        </joint>

        <link name="${name}_stereo_right_optical_frame"/>

        <!-- gazebo extensions -->
        <xacro:if value="${simulated}">
            <xacro:rc_visard65_stereo_gazebo link_name="${name}_stereo_link" frame_name="${name}_stereo_optical_frame" camera_name="${name}"
                camera_type="${camera_type}" camera_rate="${camera_rate}" />
        </xacro:if>

        <!-- rc_visard65 point cloud sensor physical attachment -->
        <joint name="${name}_pc_joint" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <parent link="${name}_stereo_link"/>
            <child link="${name}_pc_link"/>
        </joint>

        <link name="${name}_pc_link" >
            <inertial>
                <mass value="0.1" />
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia ixx="0.01"  ixy="0.0"  ixz="0.0"
                    iyy="0.01"  iyz="0.0"
                    izz="0.01" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <sphere radius="0.0005"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0.0 0.0 0" rpy="0 0 0"/>
                <geometry>
                    <sphere radius="0.0005"/>
                </geometry>
            </collision>
        </link>

        <!-- rc_visard65 point cloud sensor frame -->
        <joint name="${name}_pc_optical_frame_joint" type="fixed">
            <origin xyz="0 0 0" rpy="${-PI/2} 0 ${-PI/2}" />
                <parent link="${name}_pc_link"/>
                <child link="${name}_pc_optical_frame"/>
        </joint>

        <link name="${name}_pc_optical_frame"/>

        <!-- create virtual frame for showing live camera images -->
        <joint name="${name}_virtual_camera_joint" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0" />
                <parent link="${name}_pc_optical_frame"/>
                <child link="${name}_camera"/>
        </joint>

        <link name="${name}_camera"/>

        <!-- gazebo extensions -->
        <xacro:if value="${simulated}">
            <xacro:rc_visard65_depth_gazebo link_name="${name}_pc_link" frame_name="${name}_pc_optical_frame" camera_name="${name}" camera_type="${camera_type}"
                camera_rate="${camera_rate}" />
        </xacro:if>

    </xacro:macro>

</robot>
