<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Stereo Camera Location (Nominally 0) -->
  <xacro:property name="cal_stereo_x" value="0.0" />
  <xacro:property name="cal_stereo_y" value="0.0" />
  <xacro:property name="cal_stereo_z" value="0.0" />
  <xacro:property name="cal_stereo_roll" value="0.0" />
  <xacro:property name="cal_stereo_pitch" value="0.0" />
  <xacro:property name="cal_stereo_yaw" value="0.0" />

</robot>
